@page "/bounty-board"

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; flex-direction: column;">
    <h1 style="color: #ffffff; text-shadow: 0 0 10px rgba(139, 92, 246, 0.5); font-size: 2.25rem; margin-bottom: 0.5rem;">
        COMING SOON
    </h1>
    <h1 style="color: #ffffff; text-shadow: 0 0 10px rgba(139, 92, 246, 0.5); font-size: 1.5rem; margin-bottom: 0.5rem;">
        Bounty Board is WIP and will be released soon.
    </h1>
</div>

@code {
}
