@page "/deckshowcase"
<PageTitle>DeckShowcase</PageTitle>




<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; flex-direction: column;">
    <h1 style="color: #ffffff; text-shadow: 0 0 10px rgba(139, 92, 246, 0.5); font-size: 2.25rem; margin-bottom: 0.5rem;">
        DECK SHOWCASE
    </h1>
    <h1 style="color: #ffffff; text-shadow: 0 0 10px rgba(139, 92, 246, 0.5); font-size: 1.5rem; margin-bottom: 0.5rem;">
        The DECK SHOWCASE is under construction. Please check back later.
    </h1>
</div>
